<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA>"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"

        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.MiPrimeraAplicacion">

        <!-- Actividad Principal - Exportada explícitamente -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Lista de productos - No necesita exported=false porque no tiene intent-filter -->
        <activity
            android:name=".lista_productos"
            android:exported="false" />

        <!-- Editar producto - No necesita exported=false porque no tiene intent-filter -->
        <activity
            android:name=".EditarProductoActivity"
            android:exported="false" />

        <!-- Proveedor de archivos -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.miprimeraaplicacion.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
</manifest>